@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Модуль 3. ASP.NET Core Razor Pages. Часть 1</h1>

    <h3>Задание 1</h3>
    <p>
        Создайте и запустите базовое приложение ASP.NET 
Core, построенное на основании ASP.NET Razor Pages. 
Создайте дополнительную веб-страницу. На ней нужно 
отображать расписание показов фильмов в кинотеатре 
вашего города. Информация, которую нужно хранить:<br />
 ■Название фильма;<br />
 ■Режиссер;<br />
 ■Жанр;<br />
 ■Краткое описание;<br />
 ■Список сеансов.<br />
 Отображать нужно название фильма и список его 
сеансов.
    </p>
    <h3>Задание 2</h3>
    <p>
        Для первого задания выделите классы для работы 
с фильмами и списком сеансов в отдельные проекты. 
Например, один проект для хранения классов фильма, 
стиля фильма и т.д. Другой проект для создания массива 
фильмов и слоя для доступа к этому массиву. Обратите 
внимание, что в будущем массив фильмов может быть 
заменен на другой источник данных. Обязательно учитывайте 
эту возможность при проектировании
    </p>
    <h3>Задание 3</h3>
    <p>
        Подключите проекты из второго задания к веб-приложению 
для отображения данных. Добавьте код к веб-приложению 
по использованию данных
    </p>
    <h3>Задание 4</h3>
    <p>
        Добавьте к третьему заданию возможности ро утинга. 
При клике на фильм нужно отображать полную информацию,
а также список сеансов
    </p>
    <h3>Задание 5</h3>
    <p>
        Добавьте к четвертому заданию возможность возврата
на страницу со всеми фильмами и их сеансами.
    </p>
</div>
