@page
@model ASP_NET_HW_Module_03_part_01.Movies.IndexModel
@{
    ViewData["Title"] = "Список";
}

<div>
	<h4>Список фильмов</h4>
	<table class="table text-white">
		<thead>
			<tr>
				<th>Название фильма</th>
				<th></th>
				<th>Сеансы</th>
				<th></th><th></th>
			</tr>
		</thead>
		@foreach(var item in Model.movies)
		{
			<tr>
				<td>@item.Title</td>
				@foreach(var session in item.Sessions)
				{
					<td>@session.ToShortTimeString()</td>
				}
				<td>
					<a asp-page="./Details" asp-route-id="@item.Id">Детально...</a>
				</td>
			</tr>
		}
	</table>
</div>
